
.kvnkjabvav .user-heading h1 {
    color: var(--orange-head);
    font-weight: 700;
    font-size: 3em;
  }
  .kvnkjabvav .showPass{
      position: relative;
  }
  
  .kvnkjabvav .showPass .showPassIcon{
    position:absolute ;
    bottom: 15px ;
    right: 30px ;
    font-size: 1.3em ;
    cursor: pointer;
  }